<a href="#">+Add</a>
<br>

{% for i in tabclub %} 
id:{{i.id}}
name:{{i.name}}
description:{{i.descreption}}
adresse:{{i.adresse}}
<a href="#">Delete</a>
<a href="#">Update</a>
<br>
{% endfor %}